<div class="main-panel">
	<div class="main-panel-header">

		<a class="main-title" href="{{ site.baseurl }}" title="link to home of {{ site.title }}">
			<h1>{{ site.title }}</h1>
		</a>
		<div class="divider divider-big"></div>
		<p class="main-subtitle">{{ site.description }}</p>
		<div class="divider divider-small"></div>

	</div>

<div class="main-panel-nav">
	<nav>

		<ul class="socialItem-list">

			<!--social links-->
			{% for socialItem in site.social %}
			<li class="socialItem">
				<a href="{{ socialItem.link }}" title="{{ socialItem.name }}" target="_blank">
				<i class="fa fa-{{ socialItem.name }} fa-lg"></i>
			</a>
			</li>
			{% endfor %}

			<!--blog-->
			{% if site.blog %}
			<li class="socialItem blog_nav">
				<a href="{{ site.baseurl }}#blog" title="blog" class="blog-button">
				<i class="fa fa-pencil fa-lg"></i>
				blog
			</a>
			</li>
			{% endif %}

		</ul>
	</nav>
	</div>
</div>