// general
a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
}

ul li.socialItem {
	display: inline-block;
    height: 23px;
    margin-top: 1.5em;
    padding: 6px 11px 9px 10px;

	border: 1px solid black;
	border-radius: 20px;
	:hover {
	}
}

ul.socialItem-list {
  	text-align: center;
	display: block;
	width: 100%;
	float: left;
}

.page-content {
    padding: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.7) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3ffffff',GradientType=0 );
}

.center {
	display: block;
	text-align: center;
}

// general layout
.main-panel,
.main-panel-header,
.main-panel-nav,
.blog-panel {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}

// main
.main-panel {
	margin-bottom: 40em;
}

.divider {
	height:1px;
	border-bottom:1px solid rgba(114, 118, 124, 0.2);
	width: 60%;
	display: block;
	text-align: center;
	margin: auto;
}

.divider-big {
	width: 60%;
}

.divider-small {
	width: 25%;
}

.main-title {
	display: block;
  	text-align: center;
	padding-top: 20%;
}

.main-subtitle {
	display: block;
  	text-align: center;
	padding-top: 1.5em;
}

// home
.home-background {
    // background
	background: url(../images/cover.jpg) no-repeat #666666; 
	background-size: cover;

    // positioning 
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;

    // size
	max-width: none;
	width: 100%;
	height: 100%;

    // blur
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

// blog
.blog-panel {
	margin-bottom: 7em;
}

.post {
	padding-top: 4.5em;
	height:100vh;
}

.post-list {
	padding-top: 40px;
}